<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table style="width:100%">
    <tr>
        <th>id</th>
        <th>user</th>
        <th>name</th>
        <th>category</th>
        <th>startDate</th>
        <th>endDate</th>
        <th>startingprice</th>
        <th>buyNow</th>
    </tr>
    <tr th:each="auction: ${auctions}">
        <td> <p th:text=" ${auction.id} " /> </td>
        <td> <p th:text=" ${auction.user} " /> </td>
        <td> <p th:text=" ${auction.name} " /> </td>
        <td> <p th:text=" ${auction.category} " /> </td>
        <td> <p th:text=" ${auction.startDate} " /> </td>
        <td> <p th:text=" ${auction.endDate} " /> </td>
        <td> <p th:text=" ${auction.startingPrice} " /> </td>
        <td> <p th:text=" ${auction.buyNow} " /> </td>

    </tr>
</table>
</body>
</html>